{% extends 'main_app/base.html' %}
{% load static %}
{% block page_title %}{{page_title}}{% endblock page_title %}

{% block content %}

<h4 class="py-3 mb-4">
    <span class="text-muted fw-light">Projects /</span> Edit
</h4> 
<div class="card">
    <div class="d-flex justify-content-between align-items-center">
      <h5 class="card-header">{{page_title}}</h5>
      <div class="d-flex justify-content-end"> 
      </div>
    </div> 
    {% include "main_app/form_template.html" with messages=messages  form=form button_text="Update project"%}
</div>
{% endblock content %}