{% extends 'main_app/base.html' %}
{% load static %}
{% block title %}{{page_title}}{% endblock title %}

{% block content %}
 
<div class="d-flex align-items-center justify-content-between">
  <h4 class="py-3 mb-4">
    <span class="text-muted fw-light">Groupe /</span> Manage
  </h4>
  <a href="{% url 'staff_add_groupe' %}">
    <button class="btn btn-secondary btn-primary" type="button">
      <span><i class="bx bx-plus me-md-1"></i>
        <span class="d-md-inline-block d-none">New</span>
      </span>
    </button>
  </a>
</div>
<div class="row g-4">
  {% for prerequisGroupe in prerequisGroupes %}  
  <div class="col-xl-4 col-lg-6 col-md-6">
      <div class="card {% if prerequisGroupe.status  == 1 %}card-border-shadow-success{% endif %}">
        <div class="card-header">
          <div class="d-flex align-items-center">
            <div class="d-flex align-items-start"> 
              <div class="me-2">
                <h5 class="mb-1"><a href="javascript:;" id="open_modal_{{ prerequisGroupe.id }}" data-bs-toggle="modal" data-bs-target="#modal_{{ prerequisGroupe.id }}" class="h5 stretched-link" data-id="{{ prerequisGroupe.id }}">{{prerequisGroupe.module}}</a>
                </h5> 
              </div>
            </div>
            <div class="ms-auto z-2">
              <a href="{% url 'delete_prerequis_groupe' prerequisGroupe.id %}"  onclick="return confirm('Are you sure you want to delete this ?')"> 
                <button type="button" class="btn btn-icon btn-label-danger">
                  <i class="bx bx-trash-alt"></i>
                </button>
              </a> 
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="d-flex align-items-center flex-wrap">
            <div class="bg-lighter p-2 rounded me-auto mb-3">
              <h6 class="mb-1">{{ prerequisGroupe.niveau }}</h6> 
            </div>
            <div class="text-end mb-3">
              <h6 class="mb-1">Start Date: <span class="text-body fw-normal">{{ prerequisGroupe.start_date  }}</span></h6>
              <h6 class="mb-1">Deadline: <span class="text-body fw-normal">{{ prerequisGroupe.end_date }}</span></h6>
            </div>
          </div> 
          <p class="mb-0">{{prerequisGroupe.description}}</p>
        </div>
        <div class="card-body border-top">
          <div class="d-flex align-items-center">
            <h6 class="mb-1">Status</h6>
            {% if prerequisGroupe.status  == 0 %}
            <span class="badge bg-label-secondary ms-auto"><i class="bx bx-minus me-2"></i>Pending</span>
            {% elif prerequisGroupe.status  == 1 %}
            <span class="badge bg-label-success ms-auto"><i class="bx bx-check-double me-2"></i>Completed</span>

            {% endif %}  
          </div>  
        </div>
        
      </div>
  </div>
  <div class="modal fade mt-0"  id="modal_{{ prerequisGroupe.id }}"  tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="d-flex align-items-center justify-content-between w-100"> 
            <h5 class="modal-title" id="backDropModalTitle">Groupe {{ prerequisGroupe.module }}</h5>   
            <div>
              <a href="{% url 'assign_project_manytoone' %}">
                <button class="btn btn-primary mb-3">Assign project 2</button>
              </a> 
              <a href="{% url 'assign_project' %}">
                <button class="btn btn-primary mb-3">Assign project</button>
              </a>
            </div> 
          </div>
          <button type="button" class="btn-close" data-bs-dismiss="modal" style="position: absolute;right: 22px; top: 32px;" aria-label="Close"></button>
        </div>
        <div class="modal-body">  

        </div> 
      </div>
    </div>
  </div> 
  {% endfor %}
</div>
{% endblock content %}
{% block page_js %}
<script> 
axios.defaults.xsrfHeaderName = 'X-CSRFToken';
axios.defaults.xsrfCookieName = 'csrftoken'; 
$(document).ready(function () { 
  $('[data-id]').click(function() 
  { 
    var groupId = $(this).data('id'); 
    var idModal = "#modal_" + groupId;
    prerequisGroupeId=groupId;
    
    loadModalData(idModal,"staff/groupe/manage_2/"+groupId,{},function(){ 
    })      
  });
}); 
</script>
{% endblock page_js %}