{% extends 'main_app/base.html' %}
{% load static %}
{% block page_title %}{{page_title}}{% endblock page_title %}

{% block content %}

 {% comment %} <section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex justify-content-end">
                    <a href="{% url 'staff_add_groupe' %}">
                        <button class="btn btn-primary mb-3">Add groupe</button>
                    </a>
                </div> 
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">{{page_title}}</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">

                        <table id="example2" class="table table-bordered table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Id</th>
                                    <th>Module</th>
                                    <th>Level</th>
                                    <th>Start date</th>  
                                    <th>Deadline</th>  
                                    <th>Status</th>  
                                </tr>
                            </thead>
                            <tbody>
                                {% for prerequisGroupe in prerequisGroupes %} 
                                <tr> 
                                    <td>{{forloop.counter}}</td>
                                    <td>{{prerequisGroupe.module}}</td>
                                    <td>{{ prerequisGroupe.niveau }} </td> 
                                    <td>{{ prerequisGroupe.start_date  }}</td>    
                                    <td>{{ prerequisGroupe.end_date }}</td>    
                                    {% if prerequisGroupe.status  == 0 %}
                                        <td><span  class='badge badge-secondary'>Pending</span></td>
                                        {% elif prerequisGroupe.status  == 1 %}
                                        <td> <button data-toggle = "modal" data-target = "#reply_modal" value="{{leave.id}}" class="btn btn-success">Ready</button></td>

                                        {% endif %}  
                                </tr> 
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>  {% endcomment %}
<div class="d-flex align-items-center justify-content-between">
  <h4 class="py-3 mb-4">
    <span class="text-muted fw-light">Tables /</span> Basic Tables
  </h4>
  <a href="{% url 'staff_add_groupe' %}">
    <button class="btn btn-secondary btn-primary" type="button">
      <span><i class="bx bx-plus me-md-1"></i>
        <span class="d-md-inline-block d-none">New</span>
      </span>
    </button>
  </a>
</div>
<div class="row g-4">
  {% for prerequisGroupe in prerequisGroupes %}  
  <div class="col-xl-4 col-lg-6 col-md-6">
      <div class="card {% if prerequisGroupe.status  == 1 %}card-border-shadow-success{% endif %}">
        <div class="card-header">
          <div class="d-flex align-items-center">
            <div class="d-flex align-items-start"> 
              <div class="me-2">
                <h5 class="mb-1"><a href="javascript:;" class="h5 {% if prerequisGroupe.status  == 1 %}stretched-link{% endif %}">{{prerequisGroupe.module}}</a></h5> 
              </div>
            </div>
            <div class="ms-auto z-2">
              <a href="{% url 'delete_prerequis_groupe' prerequisGroupe.id %}"  onclick="return confirm('Are you sure you want to delete this ?')"> 
                <button type="button" class="btn btn-icon btn-label-danger">
                  <i class="bx bx-trash-alt"></i>
                </button>
              </a> 
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="d-flex align-items-center flex-wrap">
            <div class="bg-lighter p-2 rounded me-auto mb-3">
              <h6 class="mb-1">{{ prerequisGroupe.niveau }}</h6> 
            </div>
            <div class="text-end mb-3">
              <h6 class="mb-1">Start Date: <span class="text-body fw-normal">{{ prerequisGroupe.start_date  }}</span></h6>
              <h6 class="mb-1">Deadline: <span class="text-body fw-normal">{{ prerequisGroupe.end_date }}</span></h6>
            </div>
          </div> 
          <p class="mb-0">{{prerequisGroupe.description}}</p>
        </div>
        <div class="card-body border-top">
          <div class="d-flex align-items-center">
            <h6 class="mb-1">Status</h6>
            {% if prerequisGroupe.status  == 0 %}
            <span class="badge bg-label-secondary ms-auto"><i class="bx bx-minus me-2"></i>Pending</span>
            {% elif prerequisGroupe.status  == 1 %}
            <span class="badge bg-label-success ms-auto"><i class="bx bx-check-double me-2"></i>Completed</span>

            {% endif %}  
          </div>  
        </div>
        
      </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}