 
{% comment %} <div class="modal-body">  {% endcomment %}
  <div class="col-md-12">
    <div class="card mb-3 border shadow-none">
      <div class="table-responsive text-nowrap rounded">
        <table class="table">
          <thead>
            <tr>
              <th>Mattricule</th>
              <th>Full name</th>
              <th class="text-center">Groupe</th> 
              <th class="text-center">Project</th> 
            </tr>
          </thead>
          <tbody> 
            {% for groupe in groupes %}
            <tr>
                <td>
                    {% for etudiant in groupe.etudiants.all %}
                        {{ etudiant.numMattr }}<br>
                    {% endfor %}
                </td>
                <td>
                    {% for etudiant in groupe.etudiants.all %}
                        {{ etudiant.firstname }} {{ etudiant.lastname }}<br>
                    {% endfor %}
                </td>
                <td class="text-center">{{ groupe.numero }}</td> 
                <td class="text-center">{{ groupe.projet }}</td> 
            </tr>
            {% endfor %} 
          </tbody>
        </table>
      </div>
  </div> 
{% comment %} </div>  {% endcomment %}
<script>

  $("[data-edit-id]").click(function(event) 
  {
 
  }); 
</script>