{% load static %}

<!--Core Javascript-->
<script src="{% static 'vendor/libs/jquery/jquery.js' %}"></script>
<script src="{% static 'vendor/libs/popper/popper.js' %}"></script>
<script src="{% static 'vendor/js/bootstrap.js' %}"></script>
<script src="{% static 'vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
<script src="{% static 'vendor/libs/bs-stepper/bs-stepper.js' %}"></script>
<script src="{% static 'vendor/js/menu.js' %}"></script>
<script src="{% static 'vendor/libs/cleavejs/cleave.js' %}"></script>
<script src="{% static 'vendor/libs/cleavejs/cleave-phone.js' %}"></script>
<script src="{% static 'vendor/libs/select2/select2x.js' %}"></script> 
<script src="{% static 'vendor/libs/toastr/toastr.js' %}"></script> 
<script src="{% static 'vendor/libs/jquery-repeater/jquery-repeater.js' %}"></script>
<script src="{% static 'vendor/libs/sweetalert2/sweetalert2.js' %}"></script>
<script src="{% static 'js/scripts.js' %}"></script>
<script src="{% static 'js/axios.js' %}"></script>
<script src="{% static 'js/ui-toasts.js' %}"></script>
<script src="{% static 'js/router.min.js' %}"></script>
<script src="{% static 'js/router.js' %}"></script>
<script src="{% static 'js/modal-create-app.js' %}"></script> 
<script src="{% static 'js/forms-selects.js' %}"></script>
<script src="{% static 'js/forms-extras.js' %}"></script>
<script async defer src="https://buttons.github.io/buttons.js"></script>

