{% load static %}

<!--Fonts-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

<link href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.min.css" rel="stylesheet">

<!-- Icons -->
<link rel="stylesheet" href="{% static 'vendor/fonts/boxicons.css' %}" />

<!--Core CSS -->


<link rel="stylesheet" href="{% static 'css/demo.css' %}" />

<!--Vendor CSS-->
<link rel="stylesheet" href="{% static 'vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/bs-stepper/bs-stepper.css' %}" /> 
<link rel="stylesheet" href="{% static 'vendor/libs/select2/select2x.css' %}" /> 
<link rel="stylesheet" href="{% static 'vendor/libs/toastr/toastr.css' %}" /> 
<link rel="stylesheet" href="{% static 'vendor/libs/datatables-bs5/datatables.bootstrap5.css' %}" /> 
<link rel="stylesheet" href="{% static 'vendor/libs/spinkit/spinkit.css' %}" /> 
<link rel="stylesheet" href="{% static 'vendor/libs/sweetalert2/sweetalert2.css' %}" /> 

<link rel="stylesheet" href="{% static 'vendor/libs/@form-validation/form-validation.css' %}" /> 

<link rel="stylesheet" href="{% static 'vendor/libs/datatables/css/dataTables.bootstrap4.min.css' %}" />  
<link rel="stylesheet" href="{% static 'vendor/libs/datatables/css/responsive.bootstrap4.min.css' %}" />  


<link rel="stylesheet" href="{% static 'vendor/css/corex.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/css/theme-defaultx.css' %}" />
