{% extends 'main_app/base.html' %}
{% load static %}
{% block title %}{{page_title}}{% endblock title %}

{% block content %}
<h4 class="py-3 mb-4">
    <span class="text-muted fw-light">Students /</span> Lists
</h4>
  <!-- Basic Bootstrap Table -->
<div class="card">
    <div class="d-flex justify-content-between align-items-center">
      <h5 class="card-header">Students</h5> 
    </div>
    <div class="table-responsive text-nowrap">
        <table class="table">
            <thead>
                <tr>
                    <th>Mattricule</th>
                    <th>Full Name</th>
                    <th class="text-center">Mobile number</th>
                    <th>Adress</th>  
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                {% for student in students %}
                <tr>
                    <td>{{student.numMattr}}</td>
                    <td>{{student.firstname}}  {{student.lastname}}</td>
                    <td align="center">{{student.mobile_number}}</td>
                    <td>{{student.location}}</td>  
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% comment %} <section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12"> 
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">{{page_title}}</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Mattricule</th>
                                    <th>Full Name</th>
                                    <th>Mobile number</th>
                                    <th>Adress</th> 
                                    <th>Level</th>  
                                </tr>
                            </thead>
                            <tbody>
                                {% for student in students %}
                                <tr> 
                                    <td>{{student.numMattr}}</td>
                                    <td>{{student.firstname}}  {{student.lastname}}</td>
                                    <td>{{student.mobile_number}}</td>
                                    <td>{{student.location}}</td> 
                                    <td>{{student.niveau}}</td>  
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> {% endcomment %}
{% endblock content %}