<form  method="POST" id="add-staff-form" > 
  {% csrf_token %}  
    <div class="form-group">
      <label for="id_first_name">First name:</label>
      <input
        required
        name="firstname"
        type="text"
        class="form-control"
        id="firstname"
        placeholder="RAKOTONDRALAMBO"
        aria-describedby="floatingInputHelp"
      />
    </div>

    <div class="form-group">
      <label for="id_last_name">Last name:</label>
      <input
        required
        name="lastname"
        type="text"
        class="form-control"
        id="lastname"
        placeholder="John Doe"
        aria-describedby="floatingInputHelp"
      />
    </div>

    <div class="form-group">
      <label for="email">Email:</label>
      <input
        type="email"
        name="email"
        maxlength="320"
        class="form-control"
        required=""
        id="email"
      />
    </div>

    <div class="form-group">
      <label for="id_gender">Gender:</label>
      <select name="gender" class="form-control" id="id_gender">
        <option value="M">Male</option>

        <option value="F">Female</option>
      </select>
    </div>

    <div class="form-group">
      <label for="id_password">Password:</label>
      <input
        type="password"
        name="password"
        class="form-control"
        required=""
        id="id_password"
      />
    </div>

    <div class="form-group">
      <label for="id_profile_pic">Profile pic:</label>
      <input
        type="file"
        name="profile_pic"
        accept="image/*"
        class="form-control" 
        id="id_profile_pic"
      />
    </div>

    <div class="form-group">
      <label for="id_address">Address:</label>
      <textarea
        name="address"
        cols="40"
        rows="10"
        class="form-control"
        required=""
        id="id_address"
      ></textarea>
    </div>

    <div class="form-group">
      <label for="id_course">Course:</label>
      <select name="course" class="form-control" required="" id="id_course">

        {% for level in levels %}
        <option value="{{ forloop.counter }}">{{level.name}}</option>
        {% endfor %}
      </select>
    </div>
  </div> 

  <div class="modal-footer pb-0 px-0">
    <button
      type="button"
      class="btn btn-outline-secondary"
      data-bs-dismiss="modal"
    >
      Close
    </button>
    <button type="submit" class="btn btn-primary">Save changes</button>
  </div>
</form>
<script>
    $("#add-staff-form").on("submit", function (event) {
      event.preventDefault();
      var formData = $(this).serialize();
      $.ajax({
        url: "/staff/add",
        type: "POST",
        data: formData + "&csrfmiddlewaretoken=" + "{{ csrf_token }}",
        success: function (responseData) {
          if (responseData.success) {
            $("#success-toasts").toast("show");
            $("#addModal").modal("hide");
            setTimeout(function () {
              location.reload();
            }, 2000);
          } else {
            $("#error-toasts").toast("show");
          }
        },
        error: function (data) {
          console.log("data");
        },
      });
    });
  </script>