<form class="row g-3" data-form-id="{{students.id}}"  method="POST">
    {% csrf_token %}
    <div class="col-12 col-md-6 mb-3 form-floating">
      <input
        value="{{students.numMattr}}"
        required
        name="numMattr"
        type="text"
        class="form-control"
        id="numMattr"
        placeholder="364 H-TOL"
        aria-describedby="floatingInputHelp"
      />
      <label for="numMattr">Mattricule</label>
    </div>
    <div class="col-12 col-md-6">
      <select
        name="niveau"
        style="height: 58px"
        class="form-select"
        aria-label="Default select example"
      >
        {% for level in levels %}
        <option value="{{ forloop.counter }}">{{level.name}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-12 col-md-6 mb-3 form-floating">
      <input
        value="{{students.firstname}}"
        required
        name="firstname"
        type="text"
        class="form-control"
        id="firstname"
        placeholder="RAKOTONDRALAMBO"
        aria-describedby="floatingInputHelp"
      />
      <label for="firstname">Firstname</label>
    </div>
    <div class="col-12 col-md-6 mb-3 form-floating">
      <input
        value="{{students.lastname}}"
        required
        name="lastname"
        type="text"
        class="form-control"
        id="lastname"
        placeholder="John Doe"
        aria-describedby="floatingInputHelp"
      />
      <label for="lastname">Lastname</label>
    </div>
    <div class="col-12 col-md-6">
      <label class="form-label" for="mobile_number">Phone Number</label>
      <div class="input-group input-group-merge">
        <input
            value="{{students.mobile_number}}"
            required
            type="text"
            id="mobile_number"
            name="mobile_number"
            class="form-control phone-number-mask"
            placeholder="0343033643"
        />
      </div>
    </div>
    <div class="col-12 col-md-6">
      <label class="form-label" for="location">Adress</label>
      <input
        value="{{students.location}}"
        required
        type="text"
        id="location"
        name="location"
        class="form-control modal-edit-tax-id"
        placeholder="Maninday"
      />
    </div>
    <div class="modal-footer pb-0 px-0">
      <button
        type="button"
        class="btn btn-outline-secondary"
        data-bs-dismiss="modal"
      >
        Close
      </button>
      <button type="submit" class="btn btn-primary">Save changes</button>
    </div>
  </form>
  <script>
    $("[data-form-id]").submit(function (event) {
      event.preventDefault();
      var id = $(this).data("form-id");
      var formData = $(this).serialize();
      $.ajax({
        url: "edit/" + id,
        type: "POST",
        data: formData + "&csrfmiddlewaretoken=" + "{{ csrf_token }}",
        success: function (responseData) {
          if (responseData.success) {
            $("#success-toasts").toast("show");
            $("#addModal").modal("hide");
            setTimeout(function () {
              location.reload();
            }, 700);
          } else {
            $("#error-toasts").toast("show");
          }
        },
        error: function (data) {
          console.log("data");
        },
      });
    });
  </script>
  